<div *ngIf="workoutResults" class="grid-container">
	<h1>{{workoutResults.workoutTitle}}</h1>
	<md-grid-list cols="4" rowHeight="150px">
		<div *ngFor="let workout of workoutResults.results; let i = index;">
			<md-grid-tile *ngIf="checkItemVisibility(i)" class="fadeInAnimation">
				<md-card>
					<md-list>
					   <md-list-item>
						   <img md-list-avatar src="{{workout.profileImg}}">
						   <h2 md-line>{{i+1}}. {{workout.userFirstName}} {{workout.userLastName}}</h2>
						   <p md-line>Rank: {{workout.rank}}</p>
					   </md-list-item>
					</md-list>
				</md-card>
			</md-grid-tile>
			
		</div>
	</md-grid-list>
</div>