$color-border: #0a96c8;
$color1: rgba(0,0,0,0);
$color2: rgba(233,233,233,1);

img {
	border: 3px solid $color-border;
	border-radius: 50%;
}

h1 {
	padding: 50px 0;
	text-align: center;
}

.md-card {
	background-color: white;
	border-top: 3px solid $color-border;
  height: 50%;
  width: 75%;
}

.grid-container{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 200px,rgba(233,233,233,1) 200px, rgba(233,233,233,1) 100%);
}
