/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

$color1: rgba(0,0,0,0.87);
$color2: rgba(233,233,233,1);
$color-base-font: #333;
$color-white: #fff;

$font-size-base: 14px;
$font-size-h1: 24px;

body {
  background: linear-gradient(to bottom, $color1 0%, $color1 200px, $color2 200px, $color2 100%);
	color: $color-base-font;
	font-family: 'Open Sans', sans-serif;
	font-size: $font-size-base;
}

h1 {
	color: $color-white;
	font-size: $font-size-h1;
	font-weight: 500;
}

@keyframes fadein {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1;
  }
}

.fadeInAnimation {
	animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: 1;
}
